.navigation {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-betweenS;
    margin-bottom: 25px;
    background-color: rgb(175, 172, 172);
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flexs;
      align-items: center;
      justify-content: flex-end;
  
     
    }
    .nav-link {
      padding: 10px 15px;
      cursor: cursor;
    }
    .about-link {
      padding: 10px 15px;
      cursor: cursor;
    }
}